# Día 1

## Temario

- Tipos de datos
- Operaciones matemáticas
- Operaciones con String
- Operaciones Logicas
- Operaciones booleanas

# Tipos de datos

In [1]:
## Tipos de datos

enteros = 3     #Numeros sin decimales
flotantes = 9.94698 #Numeros con decimales
type(enteros)

int

In [2]:
#String/Caracteres
caracteres = "a"    # Almacena un dato de tipo caracter
cadena_de_caracteres = "Pepe pica papas, con un pico pica papas Pepe" # string: almacena grandes extensiones de texto y no se limita a un solo caracter
type(cadena_de_caracteres)

str

In [ ]:
# Booleanos, son valores donde solo se cuenta con dos resultados (verdadero o falso)
falso = False    # representa un valor entero el cual es 0
verdadero = True # representa un valor entero el cual es 1
type(verdadero)

In [5]:
# Imprimir: se emplea para mostrar datos en la terminal del usuario
print(cadena_de_caracteres)

Pepe pica papas, con un pico pica papas Pepe

### Ingresar datos por parte del usuario, sin necesidad de declarar el valor junto con la variable

In [8]:
# con la función input, el usuario puede ingresar cualquier tipo de dato
# este dato puede guardarse en alguna variable
# de manera general Python guarda el dato como si fuera de tipo string
# por ende debe ser convertido para poderlo tratar como otro tipo de dato

name = input("Mi nombre es: ")
print(name)

# NO es posible operar variables que almacenen valores numericos con otras que almacenen valores de tipo caracter
num = input("ingrese un numero:")
print(num + 1)

Mi nombre es: Iván
Iván
ingrese un numero:1

TypeError: can only concatenate str (not "int") to str

In [9]:
# Mismo ejemplo de arriba pero tiene una conversión de tipo de dato para convertir a tipo entero
num = int(input("ingrese un numero:"))
print(num + 1)

ingrese un numero:4
5

### Operaciones Matemáticas

In [ ]:
# 4to Nivel de importancia
#Suma ordinaria
print("suma ordinaria")
print(3 + 4)                  # 7
variable1,variable2 = 3,4     # 60
print(variable1 + variable2)

# Resta ordinaria
print("resta ordinaria")
print(2 - 5)

# Declaración de variables
v1 = 10.4
v2 = 15
resultado = v2 - v1
print("resta declarada en una variable")
print(resultado)  #4.6

In [14]:
# 3er nivel de importancia
# Multiplicación ordinaria *
print("Multiplicación ordinaria")
M1, M2 = 2,3.14
print(M1 * M2)

# División ordinaria /
print("----------------------")
print("División ordinaria")
M1, M2, M3, M4, M5, M6 = 2,7,6,4,8,3
print(M1 / M2)
print(M3 / M4)
print(M5 / M6)

# División de piso //
print("----------------------")
#los resultados arrojados son redondeandos hacia abajo para asegurar que siempre devuelva un entero
print("División de piso")
print(M1 // M2)
print(M3 // M4)
print(M5 // M6)

multiplicación ordinaria
6.28
----------------------
División ordinaria
0.2857142857142857
1.5
2.6666666666666665
----------------------
División de piso
0
1
2

In [15]:
# Potencias **
print("Potencias")
print(9 ** 1/3)  # Sacar raíz de 9
P1,P2 = 7,2
print(P1 ** P2)

Potencias
3.0
49

In [ ]:
# Área de un circulo
pi = 3.14
r = 6
A = pi * (r ** 2)
print(A)

# Operación String

In [ ]:
# operaciones de strings

HM = "Hola mundo"
print(HM)
a,b = "ta","co"
print(a + b)
print(a + " " + b) #para separar las silabas se agrega un espacio vacio

In [18]:
# Animal, debe tener un nombre, le debe gustar una fruta, debe tener una profesión
Animal = "Cabra"
Nombre = "Cabriales"
Fruta = "Zanahoria"
Profesion = "Ingeniero"

print(f"Hola soy {Nombre} y soy una {Animal}, me gusta la {Fruta} y soy {Profesion}")
# la f al inicio es para poder insertar variables mediante llaves en el texto imprimido

Hola soy Cabriales y soy una Cabra, me gusta la Zanahoria y soy Ingeniero

# Operaciones logicas

In [19]:
# operadores logicos <,>,<=,>=, and &&, or ||
# SIEMPRE RETORNAN VALORES BOOLEANOS
b1 = 8 > 10
b2 = 5 > 2
b3 = 6>6
b4 = 6>=6
print(b1)
print(b2)
print(b3)
print(b4)

False
True
False
True

In [20]:
# Sandwich con todo
pan = True
queso = True
mayonesa = True
jamon = False
lechuga = True
tomate = True
print(pan and queso and mayonesa and jamon) #False debido a que no hay jamon

False

In [21]:
print(True *25)
print(False * 100)

25
0