# Día 3

## Temario
- Listas
- Tuplas
- Sets
- Diccionarios

# Estructura de datos
Las estructuras de datos son formas de organizar la información para trabajar con ella de manera eficiente

- Listas -> ordenadas, modificadas, permiten duplicados
- Tuplas -> ordenadas, inmutables, permiten duplicados
- Sets -> no ordenadas, sin duplicados
- Diccionarios -> pares clave:valor

Nota: Los siguientes son estructuras que no se veran en el curso, pero existen y tienen sus respectivos usos

- Pilas (FILO -> First In, Last Out) -> el primer dato que entra es el último que sale
- Colas/filas (FIFO -> First in, First out) -> el primer dato que entra es el ultimo que sale
- Listas enlazadas (o doblemente enlazadas)

## Listas []
Son colecciones ordenadas que podemos modificar y almacenan elementos de distintos tipos de datos

Son muy parecidas a los arreglos

In [2]:
# Ejemplo de un arreglo que funciona como una lista de compras
# Estos se van agregando ocupando espacios enumerados del 0 hasta la cantidad de datos que haya
lista_de_compras = ["manzanas", "pan", "leche", "huevos", "mantequilla", "queso", "jamon"]
print(lista_de_compras)

# para acceder a uno de los datos dependiendo de la posición que ocupa
print(lista_de_compras[6])

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon']
jamon

In [3]:
# Al agregar un elemento, este de manera automatica se agrega al final SI no se específica
# Agregar un elemento a la lista .append()
lista_de_compras.append("sopa")
print(lista_de_compras)

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [4]:
# Para agregar un elemento en una posición específica
lista_de_compras.insert(1,"platano") # sintaxis -> arreglo.instert(posición, dato)
print(lista_de_compras)

['manzanas', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [6]:
# Para eliminar un dato en específico
lista_de_compras.remove("manzanas") # sintaxis -> arreglo.remove(dato)
print(lista_de_compras)

['platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [7]:
# Para eliminar un elemento en una posición específica

lista_de_compras.pop(1) # sintaxis -> arreglo.pop(posición)
lista_de_compras.pop() # Sin nada dentro del espacio de posición borrará el ultimo elemento
print(lista_de_compras)

# Nota: Te retorna el numero eliminado

['platano', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon']

In [8]:
#
va = "Python"
va[3]

'h'

In [9]:
# Podemos recorrer el arreglo por medio de un for
for elementos in lista_de_compras: # la variable "elementos" permite recorrer todos los datos que el arreglo
    print(elementos)

platano
leche
huevos
mantequilla
queso
jamon

In [13]:
# Para sacar el tamaño total de la lista
# len() saca el tamaño de la lista
print(len(lista_de_compras)) # cantidad de elementos dentro
for i in range(len(lista_de_compras)):
    print(f"{i + 1} - {lista_de_compras[i]}") # se le suma un 1 porque el primer espacio del arreglo es 0

6
1 - platano
2 - leche
3 - huevos
4 - mantequilla
5 - queso
6 - jamon

In [40]:
promedios = [55.6,97.5,23.6,97.5,72.4,100]
print(promedios)
promedios.sort() # sort() sirve para ordenar la lista de manera ascendente
print(promedios)
 # ordenar la lista de manera descendente
promedios.sort(reverse=True)
print(promedios)

[55.6, 97.5, 23.6, 97.5, 72.4, 100]
[23.6, 55.6, 72.4, 97.5, 97.5, 100]
[100, 97.5, 97.5, 72.4, 55.6, 23.6]

In [41]:
# Podemos ingresar al ultimo elemento de una lista
print(promedios[-1])

23.6

In [42]:
# Encontrar el mayor y el menos de una lista
print(max(promedios))
print(min(promedios))

100
23.6

In [43]:
# Declaración y uso de matrices
calificaciones = [[100,88,93], [99,56,72]] # En el primer corchete esta el primer usuario y sus calificaciones por materia, el 2ndo corchete es el 2ndo usuario y sus calificaciones.
print(calificaciones)   # la matriz es de 2x2
i = 1
for cali_1 in calificaciones:
    print(f"\n Alumno {i}")
    j = 1
    for cali_j in cali_1:
        print(f"Cali {j}:  {cali_j}")
        j += 1  # Al termino de cada ciclo se le sumo 1 a la variable por cada dato que hay

[[100, 88, 93], [99, 56, 72]]

 Alumno 1
Cali 1:  100
Cali 2:  88
Cali 3:  93

 Alumno 1
Cali 1:  99
Cali 2:  56
Cali 3:  72

## Tuplas ()
Colecciones ordenadas pero inmutables.

In [49]:
# Hagamos un programa donde guardemos fechas de nacimientos de un grupo en una tupla
fechas = ("10/10/05","22/03/02","17/04/04", "25/02/04")
print(fechas)
print(type(fechas))

('10/10/05', '22/03/02', '17/04/04', '25/02/04')
<class 'tuple'>

In [47]:
# ES INMUTABLE o sea que no podemos agregar datos tan fácilmente
fechas.append(10/06/03) # TE VA A MARCAR ERROR

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (ipython-input-3228208019.py, line 2)

In [ ]:
# para poder editar la tupla se debe de hacer una conversión a lista y la lista SÍ es modificable
fechas_lista = list(fechas)
print(fechas)

## SETS {}

Los sets son colecciones SIN orden y que NO permiten elementos duplicados

In [50]:
nombre = {"Rogelio", "Jorge", "Jorge", "Francisco"}
print(nombre)
print(type(nombre))

{'Francisco', 'Jorge', 'Rogelio'}
<class 'set'>

In [ ]:
# puede almacenar diferentes tipos de datos
distintos_datos = {"Angel", 1, "Diana", "Juan", 4.8}
print(distintos_datos)

In [51]:
# Agregar datos al set, cabe mencionar que esto es al azar debido a las propiedades del set
# Add
nombre.add("Leonardo")
print(nombre)

{'Francisco', 'Jorge', 'Leonardo', 'Rogelio'}

In [52]:
# Para demostrar que no tienen orden se va a tratar de imprimir alguna posición especifica
print(nombre[0])

TypeError: 'set' object is not subscriptable

In [ ]:
# Tampoco puedes agregar nombres en alguna posición específica
nombre[2] = "Rogelio"

In [ ]:
# Unión
matutino = {20322,22183,12356,56485}
vespertino = {20322,22183,56456,54541}
# union empleando .union()
matriculas = matutino.union(vespertino)
print(matriculas)
# union empleando |
total_matriculas = matutino | vespertino
print(total_matriculas)

In [54]:
# Intersección
ca = {1234,211,574,126,584,693,648,6526,135,12258,695}
al = {1234,211,574,126,584,693,513,5465,5448,1283,145}

# intersección con .intersection()
ca_al = ca.intersection(al)
print(ca_al)
# intersección empleando &
ca_al = ca & al
print(ca_al)

{584, 574, 1234, 211, 693, 126}
{584, 574, 1234, 211, 693, 126}

In [55]:
# Diferencia
# Diferencia usando .difference
solo_calculo = ca.difference(al)
print(solo_calculo)
# Diferencia usando -
solo_calculo = ca - al
print(solo_calculo)

{12258, 135, 648, 695, 6526}
{12258, 135, 648, 695, 6526}

In [ ]:
#
nombre = {"Rogelio", "Jorge", "Jorge", "Francisco"}

# remove, pop
nombre.remove("Rogelio") #con remove debes de específicar cual dato quieres eliminar
print(nombre)
nombre.pop() # El pop elimina uno de manera aleatoria
print(nombre)

In [56]:
# vaciar todo el set
nombre.clear()
print(nombre)

set()

## Diccionarios

Los diccionarios son colecciones no ordenadas de pares clave:valor

In [60]:
alumno = {
    #clave     valor
    "nombre": "Iván Álvarez",
    "edad": 21,
    "carrera": "IMTC",
    "semestre": 7,
    "promedio": 91.5,
    "calificaciones": [100, 94,91,81,80,85,100] # insertamos una lista para poder editarla despues
}
print(type(alumno))
print(alumno)

<class 'dict'>
{'nombre': 'Iván Álvarez', 'edad': 21, 'carrera': 'IMTC', 'semestre': 7, 'promedio': 91.5, 'calificaciones': [100, 94, 91, 81, 80, 85, 100]}

## Fin de la hora clase
hr ≈ 1:31